@model nethloader.Models.AccountViewModels.ChangePasswordViewModel

<div class="dialog__wrapper flex flex-full-center" data-dialogid="chpass">
    <div class="dialog">
        <div class="dialog__header">
            <p class="text--title">Change Password</p>
        </div>
        <form name="chpasswordForm" enctype="multipart/form-data" method="post" autocomplete="off">
            <div class="form-row paper-card--fw">
                <input asp-for="NewPassword" name="npassword" id="npassword" type="password" class="input input--password" data-type="password" required>
                <label for="npassword" class="label--itext">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#key"></use></svg>&nbsp;New Password</span>
                </label>
                <div class="input--validation" data-for="npassword">&nbsp;</div>
            </div>
            <div class="form-row paper-card--fw">
                <div class="input--validation" data-for="npassword">&nbsp;</div>
                <input asp-for="ConfirmNewPassword" name="cnpassword" id="cnpassword" type="password" class="input input--password" data-type="password" required>
                <label for="cnpassword" class="label--itext">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#subkey"></use></svg>&nbsp;Confirm New Password</span>
                </label>
                <div class="input--validation" data-for="cnpassword">&nbsp;</div>
            </div>
            <div class="form-row paper-card--fw">
                <input asp-for="OldPassword" name="password" id="password" type="password" class="input input--password" data-type="password" required>
                <label for="password" class="label--itext">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#account-edit"></use></svg>&nbsp;Current Password</span>
                </label>
            </div>
            <div class="dialog__actions flex flex-main-center">
                <div class="button button--transparent button--fat-long c-pointer ta-c flex flex-full-center button--margin-lr text--error" data-closedialog="chpass" title="Maybe not" ripple="ripple"><small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#close"></use></svg></small>&nbsp;Cancel</div>
                <button class="button button--transparent button--fat-long c-pointer ta-c flex flex-full-center button--margin-lr text--accent" title="Change password" ripple="ripple" data-param="ppassword">Save&nbsp;<small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#save"></use></svg></small></button><div class="loader-wrapper flex flex-full-center"><div class="loader"></div></div>
            </div>
        </form>
    </div>
</div>