.gallery-image {
    will-change: box-shadow;
    transition: box-shadow 300ms var(--easeOutExpo);
    width: 100%;
    height: 100%;
    max-width: 250px;
    height: 150px;
    margin-bottom: calc(var(--base-pm) * 3);
    max-height: 140px;
    position: relative;
    border: 1px solid rgba(255,255,255, .2);
    @include box_shadow(2);

    .gallery-image__wrapper {
        overflow: hidden;
    }

    &:hover {
        @include box_shadow(3);
    }
}

.gallery-image__data {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-image__data__up-date {
    background-color: transparentize($base1, .2);
    color: var(--accent-contrast);
    font-size: .9em;
    padding: calc(var(--base-pm) / 2);
    font-weight: 300;

    svg { pointer-events: none; }
}

.gallery-image__data__icons {
    transition: background-color 300ms var(--easeOutExpo);
    will-change: opacity;
    flex: 1;
    opacity: 0;
    color: var(--accent-contrast-darker);

    &:hover {
        animation-name: fade-bg;
        animation-duration: .3s;
        animation-fill-mode: both;
    }
}
