.setting-panel { padding: 0; }

.setting-panel__item {
    div {
        width: 100%;
        padding: var(--base-pm);
    }

    &:not(:last-child) { border-bottom: 1px solid var(--accent-contrast-darker); }
}

.setting-panel__item-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.setting-panel__item-edit { padding: 0 calc(var(--base-pm) * 2); }

.setting-panel-title {
    font-size: 1em;
    color: $base3;
    margin-top: calc(var(--base-pm) * 2);
}
