body {
    background-color: #ebeff1;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.app-wrapper {
    width: 100%;
    height: 100%;
}

.inner-wrapper {
   width: 100%;
   height: 100%;
   position: relative;
   flex: 1;
}

.inner-wrapper--container {
    width: 100%;
    height: 100%;
    max-width: 1060px;
}

a {
    transition: $easeOutQuad;
    color: darken($accent-light, 24%);
    &:active, &:hover {
        color: darken($accent-light, 8%);
    }
}

.app-footer {
    margin-top: 35px;
}