body {
    background-color: var(--body-bg);
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    color: var(--primary-dark);

    &.img-bg { background-image: url(../img/login-bg.jpg); }
}

.content-wrapper {
    height: 100%;
    width: 100%;
    flex: 1;
}

.content-mid-wrapper {
    width: 100%;
    max-width: var(--content-mid-width);
}

.content-narrow-wrapper {
    width: 100%;
    max-width: var(--content-narrow-width);
}