.content-card {
    width: 100%;
    background-color: #fff;
    border-radius: $border-radius--big;
    padding: $base-padding*2;
    @include box_shadow(5);
}

.content-card--w400 { max-width: 400px; }

.content-card--w500 { max-width: 500px; }

.content-card--w600 { max-width: 600px; }

.content-card--image {
    width: auto;
    height: auto;
    padding: $base-padding;
    border-radius: $border-radius--small;
    margin-top: $base-padding*3;
}

.content-card--image-data {
    width: auto;
    height: auto;
    padding: $base-padding*2 $base-padding*4;
    border-radius: $border-radius--small;
    @include box_shadow(2);
    margin: $base-padding*2;
    font-size: .9em;
}
