@media (max-width: 530px) {
    // Center images when there's only one column
    .user-gallery { justify-content: center; }
}

@media(max-width: 315px) {
    .image-view__actions {
        flex-direction: column;
        .button--accent {
            text-align: center;
            margin: $base-padding 0;
        }
    }
}

@media (max-width: 270px) {
    // Remove the user email string
    .user-header__user-menu {
        span { display: none; }
    }

    // Put the user manu icon to the right
    .user-header__user-menu--container { justify-content: flex-end; }
}
