.settings-menu__container {
    justify-content: flex-end;
}

.settings-card {
    flex: 1;
    padding: $base-padding*2;
    overflow: hidden;
    z-index: 10;
}

.settings-menu {
    padding: $base-padding*2 0;
}

.settings-menu__item {
    transition: $easeOutQuad;
    padding: $base-padding*1.5;
    margin-bottom: $base-padding*2;
    border-radius: $border-radius--normal 0 0 $border-radius--normal;
    pointer-events: initial;

    &:not(.is-active) {
        &:hover {
            background-color: transparentize($primary-dark, .9);
        }
    }

    &.is-active {
        background-color: #fff;
        @include box_shadow(2);
        cursor: default !important;
        pointer-events: none;
    }
}

.settings-card__settings-title {
    text-transform: uppercase;
    font-size: 1.2em;
    color: darken($accent-dark, 10%);
    align-items: flex-start;
}

.settings-card__settings-description {
    font-size: .8em;
    margin-left: $base-padding*5;
}

.settings > div {
        padding: 0 $base-padding;
}

.settings-input-container {
    position: relative;

    &:nth-child(2) {
        margin: 0 $base-padding*4;
    }
}

.settings-card__settings__setting {
    padding: 0 $base-padding*5;
    margin: 16px 0;

    &:not(:last-child) { border-bottom: 1px solid transparentize($primary-dark, .9); }

    .form-row {
        margin: $base-padding*3 0;
    }
}

.settings-card__apikey-container {
    padding: $base-padding;
    border-radius: $border-radius--normal;
    background-color: transparentize(#bdccd3, .7);

    &:hover { background-color: darken(transparentize(#bdccd3, .7), 25%); }
}

.setting-section__container {
    transition: transform .5s cubic-bezier(0.19, .5, 0.22, 1);
    transform: translateX(-100vw);
    height: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    width: 100%;

    &.is-active {
        visibility: visible;
        opacity: 1;
        position: relative;
        height: 100%;
        transform: translateX(0);
        pointer-events: initial;
    }
}