/* Text blocks */
.text--title-fancy {
    text-transform: uppercase;
    color: currentColor;
    font-size: 1.8em;
    font-family: 'Exo', 'Roboto', sans-serif;
}

.text--secondary {
    will-change: opacity;
    opacity: .65;
    transition: opacity 400ms var(--easeOutExpo);
    
    &:hover { opacity: 1; }
}

.text--error { color: var(--text-error) !important; }

.text--warning { color: var(--text-warinng) !important; }