.user-gallery { flex-wrap: wrap; }

.user-gallery__container {
    width: 100%;
    height: 100%;
}

.user-gallery__image-container {
    will-change: opacity, transform;
    width: 100%;
    height: 100%;
    max-width: 250px;
    height: 140px;
    margin: $base-padding*2 0;
    max-height: 140px;
    overflow: hidden;
    position: relative;
    @include box_shadow(2);
    border: 1px solid transparentize($primary-dark, .9);
    animation-name: come-from-top;
    animation-duration: .3s;
    animation-fill-mode: both;

    // Generate delayed animation for each of the 16 images shown in the library
    @for $i from 1 through 16 {
        &:nth-child(#{$i}) { animation-delay: #{$i / 10}s; }
    }

    &:hover { @include box_shadow(3); }
}

.user-gallery__image__data {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: background-color .1s ease-in-out;
}

.user-gallery__no-content {
    text-transform: uppercase;
    font-size: 1.2em;
}

.big-icon { width: 55px; }

.big-icon, 
.user-gallery__no-content { color: darken($primary-light, 25%); }

.user-gallery__image__data__up-date {
    background-color: transparentize($primary-dark, .4);
    color: $primary-dark-colour;
    font-size: .9em;
    padding: $base-padding/2;
    font-weight: 300;
}

.user-gallery__image__data__icons {
    flex: 1;
    opacity: 0;

    &:hover {
        animation-name: fade-bg;
        animation-duration: .3s;
        animation-fill-mode: both;
    }
}

.user-gallery__image__data__delete {
    svg { color: #e53935; }
}

.user-gallery__pagination {
    display: inline-flex;

    ul { padding: $base-padding/2; }

    a { color: currentColor; }
}

.user-gallery__pagination__navigator {
    color: lighten($primary-dark, 45%);
    transition: $easeOutQuad;

    &:hover { color: $primary-dark; }

    &.disabled {
        cursor: not-allowed;
        color: lighten($primary-dark, 70%);
    }
}

.user-gallery__pagination-item {
    padding: $base-padding/2 $base-padding;
    margin: 0 $base-padding/2;
    border-radius: $border-radius--normal;

    &:hover {
        background-color: $accent-dark;
        color: $primary-light;
    }

    &.current-page {
        color: $accent-dark;
        border: 1px solid transparentize($primary-dark, .9);

        &:hover {
            background-color: transparent;
            color: $accent-dark;
        }
    }
}
