.user-header {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    height: 60px;
    z-index: 20;
    margin-bottom: 35px;
}

.user-header__user-menu {
    height: 100%;
    padding: 0 $base-padding*2;
    transition: $easeOutQuad;

    &:hover {
        background-color: darken(white, 5%);
    }
}

.user-header__user-menu--container { 
    position: relative;
}

.user-header__user-menu__dropdown {
    margin-top: $base-padding;
    position: absolute;
    height: 0;
    top: 100%;
    width: 100%;
    overflow: hidden;

    &.drop-open {
        height: auto;
    }

    ul, 
    li, 
    form {
        width: 100%;
    }
}

.user-header__user-menu__dropdown-item {
    margin: $base-padding/2 0;
    background-color: $primary-dark;
    padding: $base-padding $base-padding*2;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    transition: $easeOutQuad;
    border-radius: $border-radius--normal;
    color: $primary-light;

    &.is-active {
        animation-name: come-from-top-scale;
        animation-duration: .2s;
        animation-fill-mode: both;
    }

    &:hover {
        background-color: lighten($primary-dark, 10%);
    }
}

.logout-form {
    & .is-active {
        animation-delay: 0.1s;
    }
}

.user-header__user-menu-icon {
    transition: $easeOutQuad;

    &.drop-open {
        transform: rotate(180deg);
    }
}