.user-header {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    height: 60px;
    z-index: 20;
    margin-bottom: 35px;
}

.user-header__user-menu {
    height: 100%;
    min-width: 116px;
    padding: 0 $base-padding*2;
    transition: $easeOutQuad;

    &:hover { background-color: darken(white, 5%); }
}

.user-header__user-menu--container { position: relative; }

.user-header__user-menu__dropdown {
    margin-top: $base-padding;
    position: absolute;
    height: 0;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;

    &.drop-open {
        overflow: initial;
        height: auto;
    }

    ul,
    li,
    form { width: 100%; }
}

.user-header__user-menu__dropdown-item {
    margin: $base-padding/2 0;
    background-color: $primary-dark;
    padding: $base-padding $base-padding*2;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    transition: $easeOutQuad;
    border-radius: $border-radius--normal;
    color: $primary-light;

    p {
        white-space: nowrap;
        font-size: .9em;
    }

    svg { transform: scale(.8); }

    &.is-active {
        animation-name: come-from-top;
        animation-duration: .2s;
        animation-fill-mode: both;
    }

    &:hover { background-color: lighten($primary-dark, 10%); }
}

.user-header__user-menu__dropdown__link {
    transition: $easeOutQuad;

    &.is-active {
        animation-name: come-from-top;
        animation-duration: .2s;
        animation-fill-mode: both;
    }
}

.user-header__user-menu__dropdown-item--current {
    cursor: not-allowed;
    color: lighten($primary-light-colour, 50%);
    background-color: $primary-light;

    &:hover { background-color: $primary-light; }
}

.user-header__user-menu__dropdown__link {
    color: currentColor;

    &:hover { color: currentColor; }
}

.logout-form {
    & .is-active {
        animation-name: come-from-top;
        animation-duration: .2s;
        animation-fill-mode: both;
        animation-delay: 0.1s;
    }
}

.user-header__user-menu-icon {
    transition: $easeOutQuad;

    &.drop-open { transform: rotate(180deg); }
}
