<div class="dialog__header">
    <p class="text--title">Delete image?</p>
</div>
<div class="dialog__content flex flex-main-center flex-dc">
    Are you sure that you want to DELETE this image?<br />
    <span class="text--error" title="This is serious">This process cannot be reverted.</span>
</div>
<div class="dialog__actions flex flex-main-center">
    <div class="button button--transparent button--fat-long text--accent c-pointer ta-c flex flex-full-center" data-closedialog="delete" title="Maybe not" ripple="ripple"><small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#close"></use></svg></small>&nbsp;No, wait</div>
    <div class="button button--transparent button--fat-long text--error c-pointer ta-c flex flex-full-center" data-deleteconfirm title="Please, stop asking for confirmation" ripple="ripple">Yes, do it&nbsp;<small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#delete"></use></svg></small></div>
</div>