<div class="dialog__header">
    <p class="dialog__header__title">Delete image</p>
</div>
<div class="dialog__content flex flex-main-center flex-dc">
    Are you sure that you want to DELETE this image?<br />
    <span class="text--error">This process cannot be reverted.</span>
</div>
<div class="dialog__actions flex">
    <div class="button button--transparent pointer ta-c flex flex-full-center button--margin-lr text--accent" data-closedialog="delete" ripple="ripple">No, wait</div>
    <div class="button button--transparent pointer ta-c flex flex-full-center button--margin-lr text--error" data-deleteconfirm ripple="ripple">Yes, do it</div>
</div>