@{
    ViewData["Title"] = "Upload";
}

<div class="dialog__header">
    <p class="dialog__header__title">Upload an image</p>
</div>
<form>
    <div class="dialog__content flex flex-full-center flex-dc">
        <input type="file" id="file" name="file" class="input--file" accept=".@string.Join(",.", Enum.GetNames(typeof(nethloader.Models.ImageExtensions)))"/>
        <label for="file" class="button button--accent pointer" ripple="ripple">
            Choose a file
            &nbsp;<svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#image-upload"></use></svg>
        </label>
        <span id="temp-data" class="flex flex-full-center">
        </span>
    </div>
    <div class="dialog__actions flex flex-main-center">
        <div class="button button--transparent pointer ta-c flex flex-full-center button--margin-lr text--error" data-closedialog="upload" ripple="ripple" title="Maybe not">Cancel</div>
        <button class="button button--transparent pointer ta-c flex flex-full-center button--margin-lr text--accent" id="upload-button" ripple="ripple" title="Up we go!">Upload</button><div class="loader-wrapper flex flex-full-center"><div class="loader"></div></div>
    </div>
</form>