@model nethloader.Models.Image
@{
    ViewData["Title"] = "ViewImg";
}

<h2>ViewImg</h2>
<img src="@ViewData["ImgUrl"]"/>
<p>
    <img src="@Model.Url" />
    @if(User.Identity.IsAuthenticated) {
        <p>Yes</p>
    }
</p>
