@{
    ViewData["Title"] = "Email confirmed";
}

<div class="inner-wrapper flex flex-full-center flex-dc">
    <div class="content-card content-card--w500 flex flex-full-center flex-dc">
        <p class="text--success text--300 ta-c">Your email has been confirmed.</p>
    </div>
</div>