@model nethloader.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Reset your password";
}

<div class="inner-wrapper flex flex-full-center flex-dc">
    @if ((bool)ViewData["AllowEmail"])
    {
    <p class="title title--primary">@ViewData["Title"]</p>
    <div class="content-card content-card--w400">
            <p class="text--primary-light-bg ta-c">Lost your password? <br /><small>Dont worry, you can create a new one.</small></p>
            <form asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="form-row flex flex-dc flex-main-center">
                    <input asp-for="Email" id="email" type="email" class="input input--text" data-type="text" required>
                    <label for="email" class="label--itext flex flex-full-center">
                        <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#email"></use></svg>&nbsp; Account Email</span>
                    </label>
                </div>
                <div class="form-row flex flex-full-center">
                    <button class="button button--dark button--big button--margin-lr pointer ta-c" type="submit" ripple="ripple">Get instructions</button>
                    <p class="text--secondary-light-bg"><small>or <a asp-action="login">Log in</a></small></p>
                </div>
            </form>
        </div>
        } else
        {
            <div class="content-card content-card--w600">
                <p class="text--error text--300 ta-c">This feature is not available, contact the site administrator for more information.</p>
            </div>
        }
</div>