@model nethloader.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Reset your password";
    ViewData["img-bg"] = true;
}

@if ((bool)ViewData["AllowEmail"])
{
    <div class="inner-narrow-wrapper flex flex-full-center flex-dc">
        <div class="paper-card paper-card--fw paper-card--dark">
            <p class="text--title-fancy ta-c"><small>@ViewData["Title"]</small></p>
            <form asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="flex flex-dc">
                <div class="form-row">
                    <input asp-for="Email" id="email" type="email" class="input input--text" data-type="text" required>
                    <label for="email" class="label--itext">
                        <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#email"></use></svg>&nbsp;Account Email</span>
                    </label>
                </div>
                <div class="form-row flex flex-cross-center">
                    <button class="button button--accent button--fat button--shadow1 button--fw c-pointer ta-c t-upp" type="submit">Get instructions</button>
                </div>
                <a asp-action="login" class="ta-c text--secondary"><small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#arrow-left"></use></svg>&nbsp;Go back to login</small></a>
            </form>
        </div>
    </div>
} else
{
    <div class="content-mid-wrapper flex flex-full-center flex-dc">
        <div class="paper-card paper-card--fw paper-card--dark flex-dc flex flex-full-center">
            <p class="text--error ta-c">This feature is not available, contact the site administrator for more information.</p>
            <a asp-action="login" class="ta-c text--secondary"><small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#arrow-left"></use></svg>&nbsp;Go back to login</small></a>
        </div>
    </div>
}