@{
    ViewData["Title"] = "Reset your password";
}

<div class="inner-wrapper flex flex-full-center flex-dc">
    <div class="content-card content-card--w500 flex flex-full-center flex-dc">
        <p class="text--success text--300 ta-c">We've sent an email with instructions to reset your password.</p>
    </div>
</div>