@{
    ViewData["Title"] = "Reset your password";
    ViewData["img-bg"] = true;
}

<div class="inner-mid-wrapper flex flex-full-center flex-dc">
    <div class="paper-card paper-card--fw paper-card--dark flex-dc flex flex-full-center">
        <p class="text--success ta-c">We've sent an email with instructions to reset your password.</p>
        <a asp-action="login" class="ta-c text--secondary"><small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#arrow-left"></use></svg>&nbsp;Go back to login</small></a>
    </div>
</div>