@model nethloader.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Log In";
}

<div class="inner-wrapper flex flex-full-center flex-dc">
    <p class="title title--primary">@ViewData["Title"]</p>
    <div class="content-card content-card--w400">
        <form enctype="multipart/form-data" method="post" name="loginform" asp-action="login">
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="UserName" id="username" type="text" class="input input--text" data-type="text" required>
                <label for="username" class="label--itext" data-error="You shouldn't be seeing this">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#user"></use></svg>&nbsp;Username</span>
                </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="Password" id="password" type="password" class="input input--password" data-type="password" required>
                <label for="password" class="label--itext" data-error="You shouldn't be seeing this">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#key"></use></svg>&nbsp;Password</span>
                </label>
            </div>
            <div class="form-row flex flex-cross-center flex-sb">
                <span class="flex flex-full-center">
                    <label for="remember_me" class="label--checkbox flex flex-full-center pointer">
                        <input asp-for="RememberMe" id="remember_me" class="input input--checkbox" type="checkbox">
                        <span class="check"></span><small>Remember me</small>
                    </label>
                </span>
                <p class="text--secondary-light-bg ta-c"><a asp-action="forgotpassword"><small>Forgot your password?</small></a></p>
            </div>
            <div class="form-row flex flex-full-center flex-dc">
                <button id="login-button" class="button button--dark button--big button--fw pointer ta-c button-icon-from-left" ripple="ripple">Log In&nbsp;<svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#arrow-left"></use></svg></button>
            </div>
          </form>
        <h4 class="text--secondary-light-bg text--margin ta-c"><a asp-action="register" asp-route-returnurl="@ViewData["ReturnUrl"]"><small>Don't have an account? Click here!</small></a></h4>
        <div class="toast">
            <div asp-validation-summary="ModelOnly" class="validation-form"></div>
        </div>
    </div>
</div>