@model nethloader.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Nethloader - Log In";
}

<div class="auth-card__wrapper flex flex-main-center ">
    <div class="auth-card flex">
        <div class="auth-card__content flex flex-dc flex-sb">
            <p class="text--title-fancy">Log In</p>
            <form enctype="multipart/form-data" method="post" name="loginform" asp-action="login" autocomplete="off">
                <div class="auth-form-row">
                    <input asp-for="UserName" id="username" type="text" class="input input--text" data-type="text" required>
                    <label for="username" class="label--itext" data-error="You shouldn't be seeing this">
                        <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#user"></use></svg>&nbsp;Username</span>
                    </label>
                </div>
                <div class="auth-form-row">
                    <input asp-for="Password" id="password" type="password" class="input input--password" data-type="password" required>
                    <label for="password" class="label--itext" data-error="You shouldn't be seeing this">
                        <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#key"></use></svg>&nbsp;Password</span>
                    </label>
                </div>
                <div class="auth-form-row flex flex-sb">
                    <label for="remember_me" class="label--checkbox flex flex-full-center c-pointer">
                        <input asp-for="RememberMe" id="remember_me" class="input input--checkbox" type="checkbox">
                        <span class="check"></span><small>Remember me</small>
                    </label>
                    <button id="login-button" class="button button--primary button--fancy-font button--icon-to-right button--shadow1 flex flex-full-center c-pointer">Log In&nbsp;<svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#arrow-left"></use></svg>
                    </button>
                </div>
            </form>
            <div class="aut-card__footer">
                <a asp-action="forgotpassword" class="text--secondary"><small>I forgot my password</small></a>
            </div>
        </div>
    </div>
    <a class="auth-card__alt-su" asp-action="register" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div class="su-container flex flex-dc flex-cross-center">
            <svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#account-plus"></use></svg>
            <small>Sign Up</small>
        </div>
    </a>
</div>

<!-- Dirty, but it's easy and works -->
<style>
    body {
        background-image: url('/img/login-bg.jpg');
    }
</style>