@{
    ViewData["Title"] = "Goodbye";
}

<div class="inner-wrapper flex flex-full-center flex-dc">
    <div class="content-card content-card--w500 flex flex-full-center flex-dc">
        <p class="text--primary text--300 ta-c">Goodbye! I hope to see you again very soon ;)</p>
        <img src="~/img/pikacry.gif" alt="Pikachu Crying OMG please stop this gif" />
    </div>
</div>