@model nethloader.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Create an account";
}

<div class="inner-wrapper flex flex-full-center flex-dc">
    <h1 class="title title--primary">@ViewData["Title"]</h1>
    <div class="content-card content-card--w400">
        <form enctype="multipart/form-data" method="post" name="registerform">
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="FullName" id="fullname" type="text" class="input input--text" data-type="text" required>
                <label for="fullname" class="label--itext flex flex-full-center">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#identity"></use></svg>&nbsp;Full Name</span>
                </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="UserName" id="username" type="text" class="input input--text" data-type="text" required>
                <label for="username" class="label--itext  flex flex-full-center">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#user"></use></svg>&nbsp;Userame</span>
                </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="Email" id="email" type="email" class="input input--text" data-type="text" required>
                <label for="email" class="label--itext flex flex-full-center">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#email"></use></svg>&nbsp;Email</span>
                </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="Password" id="password" type="password" class="input input--password" data-type="password" required>
                <label for="password" class="label--itext flex flex-full-center">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#key"></use></svg>&nbsp;Password</span>
                </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="ConfirmPassword" id="cpassword" type="password" class="input input--password" data-type="password" required>
                <label for="cpassword" class="label--itext flex flex-full-center">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#subkey"></use></svg>&nbsp;Confirm Password</span>
                </label>
            </div>
            <div class="form-row flex flex-full-center">
                <button id="register-button" class="button button--dark button--big button--fw pointer ta-c" ripple="ripple">Register Now</button>
            </div>
        </form>
        <h4 class="text--secondary-light-bg text--margin ta-c"><a asp-action="login" asp-route-returnurl="@ViewData["ReturnUrl"]"><small>Already have an account? Log in here.</small></a></h4>
    </div>
</div>