@model nethloader.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="inner-wrapper flex flex-full-center flex-dc">
    <h1 class="title title--primary">Create an account</h1>
    <div class="content-card content-card--w500">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="FullName" id="fullname" type="text" class="input input--text" data-type="text" required>
                <label for="fullname" class="label--itext flex flex-full-center">
                    <svg viewBox="0 0 24 24">
                        <path d="M2,3H22C23.05,3 24,3.95 24,5V19C24,20.05 23.05,21 22,21H2C0.95,21 0,20.05 0,19V5C0,3.95 0.95,3 2,3M14,6V7H22V6H14M14,8V9H21.5L22,9V8H14M14,10V11H21V10H14M8,13.91C6,13.91 2,15 2,17V18H14V17C14,15 10,13.91 8,13.91M8,6A3,3 0 0,0 5,9A3,3 0 0,0 8,12A3,3 0 0,0 11,9A3,3 0 0,0 8,6Z" />
                    </svg>&nbsp;Full Name
                </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="UserName" id="username" type="text" class="input input--text" data-type="text" required>
                <label for="username" class="label--itext  flex flex-full-center">
                    <svg viewBox="0 0 24 24">
                        <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                    </svg>&nbsp;Userame
                </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="Email" id="email" type="email" class="input input--text" data-type="text" required>
                <label for="email" class="label--itext flex flex-full-center">
                    <svg viewBox="0 0 24 24">
                        <path d="M20,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M20,18H4V8L12,13L20,8V18M20,6L12,11L4,6V6H20V6Z" />
                    </svg>&nbsp;Email
                </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="Password" id="password" type="password" class="input input--password" data-type="password" required>
                <label for="password" class="label--itext flex flex-full-center">
                    <svg viewBox="0 0 24 24">
                        <path d="M7,14A2,2 0 0,1 5,12A2,2 0 0,1 7,10A2,2 0 0,1 9,12A2,2 0 0,1 7,14M12.65,10C11.83,7.67 9.61,6 7,6A6,6 0 0,0 1,12A6,6 0 0,0 7,18C9.61,18 11.83,16.33 12.65,14H17V18H21V14H23V10H12.65Z" />
                    </svg>&nbsp;Password
                </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="ConfirmPassword" id="cpassword" type="password" class="input input--password" data-type="password" required>
                <label for="cpassword" class="label--itext flex flex-full-center">
                    <svg viewBox="0 0 24 24">
                        <path d="M6.5,3C8.46,3 10.13,4.25 10.74,6H22V9H18V12H15V9H10.74C10.13,10.75 8.46,12 6.5,12C4,12 2,10 2,7.5C2,5 4,3 6.5,3M6.5,6A1.5,1.5 0 0,0 5,7.5A1.5,1.5 0 0,0 6.5,9A1.5,1.5 0 0,0 8,7.5A1.5,1.5 0 0,0 6.5,6M8,17H16V19H8V17Z" />
                    </svg>&nbsp;Confirm Password
                </label>
            </div>
            <div class="form-row flex flex-full-center">
                <button class="button button--dark button--big pointer ta-c" type="submit">Register Now</button>
            </div>
        </form>
        <h4 class="title title--secondary-margin ta-c"><a asp-action="login" asp-route-returnurl="@ViewData["ReturnUrl"]"><small>Already have an account? Log in here.</small></a></h4>
    </div>
</div>
