@{
    ViewData["Title"] = "Password reset";
    ViewData["svgIconBack"] = Html.Raw("<svg viewBox='0 0 24 24'><path d='M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z' /></svg>");
}

<div class="inner-wrapper flex flex-full-center flex-dc">
    <div class="content-card content-card--w400 flex flex-full-center flex-dc">
        <p class="text--success text--300 ta-c">Your password has been reset.</p>
        <a asp-action="login"><div class="button button--primary button--margin pointer flex flex-full-center">@ViewData["svgIconBack"]&nbsp;Go back to log in</div></a>
    </div>
</div>