@model nethloader.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset your password";

}

<div class="inner-wrapper flex flex-full-center flex-dc">
    <h1 class="title title--primary">@ViewData["Title"]</h1>
    <div class="content-card content-card--w400">
        <form asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="Password" id="password" type="password" class="input input--password" data-type="password" required>
                <label for="password" class="label--itext flex flex-full-center">
                    <svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#key"></use></svg>&nbsp;New password
            </label>
            </div>
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="ConfirmPassword" id="cpassword" type="password" class="input input--password" data-type="password" required>
                <label for="cpassword" class="label--itext flex flex-full-center">
                    <svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#subkey"></use></svg>&nbsp;Confirm new password
                </label>
            </div>
            <div class="form-row flex flex-full-center">
                <button class="button button--dark button--big button--fw pointer ta-c" type="submit">Set new password</button>
            </div>
        </form>
    </div>
</div>
