@model nethloader.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset your password";
    ViewData["img-bg"] = true;
}

<div class="inner-narrow-wrapper flex flex-full-center flex-dc">
    <div class="paper-card paper-card--fw paper-card--dark">
        <p class="text--title-fancy ta-c"><small>@ViewData["Title"]</small></p>
        <form asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="flex flex-dc">
            <div class="form-row flex flex-dc flex-main-center">
                <input asp-for="Password" id="password" type="password" class="input input--password" data-type="password" required>
                <label for="password" class="label--itext">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#key"></use></svg>&nbsp;New password</span>
                </label>
            </div>
            <div class="form-row flex">
                <input asp-for="ConfirmPassword" id="cpassword" type="password" class="input input--password" data-type="password" required>
                <label for="cpassword" class="label--itext">
                    <span><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#subkey"></use></svg>&nbsp;Confirm new password</span>
                </label>
            </div>
            <div class="form-row flex">
                <button class="button button--accent button--fat button--shadow1 button--fw c-pointer ta-c t-upp" type="submit">Set new password</button>
            </div>
            <a asp-action="login" class="ta-c text--secondary"><small><svg viewBox="0 0 24 24"><use xlink:href="/img/icons.svg#arrow-left"></use></svg>&nbsp;Go back to login</small></a>
        </form>
    </div>
</div>