.button {
    -webkit-appearance: none;
    border: none;
    transition: all 400ms var(--easeOutExpo);
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
}

.button--primary {
    background-color: var(--primary-dark);
    padding: calc(var(--base-pm) / 2) calc(var(--base-pm) * 2);
    font-size: .9em;
    color: var(--accent-contrast);

    &:hover { background-color: var(--secondary-dark-darker); }
}

.button--accent {
    color: var(--accent-contrast);
    background-color: var(--accent);

    &:hover { background-color: var(--accent-lighter); }
}

.button--transparent {
    background-color: transparent;

    &:hover { background-color: var(--accent-contrast-darker); }
}

.button--fat { 
    padding: var(--base-pm) calc(var(--base-pm) * 2); 
    border-radius: 2px;
}

.button--fat-long {
    margin: var(--base-pm) 0;
    padding: var(--base-pm) calc(var(--base-pm) * 3);
    border-radius: 2px;
}

.button--shadow1 { @include box_shadow(1); }

.button--shadow2 { @include box_shadow(2); }

.button--fw { width: 100%; }

.button--margin-lr { margin: 0 var(--base-pm); }
