.button {
    -webkit-appearance: none;
    border: none;
    border-radius: $border-radius--normal;
    transition: $easeOutQuad;
}

.button--primary {
    background-color: $primary-dark;
    color: $primary-dark-colour;
    padding: $base-padding;
    font-weight: 300;

    &:hover {
        @include box_shadow(1);
        background-color: lighten($primary-dark, 15%);
    }
}

.button--transparent {
    background-color: transparent;
    padding: $base-padding $base-padding*2;
    text-transform: uppercase;
    font-size: .95em;

    &:hover {
        background-color: darken($primary-light, 3%);
    }
}

.button--dark {
    background-color: $accent-dark;
    color: $primary-dark-colour;
    border: 2px solid transparent;

    &:hover {
        background-color: $accent-light;
    }

    &:focus {
        border-color: $accent-dark;
    }
}

.button--big {
    font-weight: 500;
    text-transform: uppercase;
    min-width: 150px;
    @include box_shadow(2);
    padding: $base-padding $base-padding*2;

    &:hover {
        @include box_shadow(3);
    }
}

.button--fw {
    width: 100%;
}

.button--margin {
    margin: 8px;
}

.button--padding-long {
    padding: 0px $base-padding*2;
}

.button--margin-lr {
    margin: 0 $base-padding;
}

.button--margin-tb {
    margin: 8px 0;
}

.button-icon-from-left {
    &:hover {
        svg {
            transform: translateX(5px);
        }
    }
}

.button-icon-from-right {
    &:hover {
        svg {
            transform: translateX(-5px);
        }
    }
}