.button {
    -webkit-appearance: none;
    border: none;
    transition: all 400ms var(--easeOutExpo);
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
}

.button--primary {
    background-color: var(--primary-dark);
    border-radius: 2px;
    padding: calc(var(--base-pm) / 2) calc(var(--base-pm) * 2);
    font-size: .9em;
    color: currentColor;

    &:hover {
        background-color: var(--secondary-dark);
    }

    svg { transform: scale(.8); }
}

.button--fat {
    padding: var(--base-pm) calc(var(--base-pm) * 2);
}

.button--shadow1 { @include box_shadow(1); }

.button--fw { width: 100%; }

.button--accent {
    color: var(--accent-contrast);
    background-color: var(--accent);

    &:hover { background-color: var(--accent-lighter); }
}

.button--icon-to-right {
    svg { transition: transform 400ms var(--easeOutExpo); }

    &:hover {
        svg { transform: scale(.8) translateX(5px); }
    }
}
