.button {
    -webkit-appearance: none;
    border: none;
    border-radius: $border-radius--normal;
    transition: $easeOutQuad;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
}

.button--primary {
    background-color: $primary-dark;
    color: $primary-dark-colour;
    padding: $base-padding;

    &:hover {
        @include box_shadow(1);
        background-color: lighten($primary-dark, 15%);
        color: $primary-dark-colour;
    }
}

.button--transparent {
    background-color: transparent;
    padding: $base-padding $base-padding*2;
    text-transform: uppercase;
    font-size: .95em;

    &:hover { background-color: darken($primary-light, 3%); }
}

.button--dark {
    background-color: $accent-dark;
    color: $primary-dark-colour;
    border: 2px solid transparent;

    &:hover { background-color: $accent-light; }

    &:focus { border-color: $accent-dark; }
}

.button--big {
    text-transform: uppercase;
    min-width: 150px;
    @include box_shadow(2);
    padding: $base-padding $base-padding*2;

    &:hover { @include box_shadow(3); }
}

.button--fw { width: 100%; }

.button--margin { margin: $base-padding; }

.button--double-margin { margin: $base-padding*2; }

.button--padding-long { padding: 0px $base-padding*2; }

.button--margin-lr { margin: 0 $base-padding; }

.button--margin-tb { margin: $base-padding 0; }

.button-icon-from-left {
    svg { transition: $easeOutQuad; }

    &:hover {
        svg { transform: translateX(5px); }
    }
}

.button-icon-from-right {
    svg { transition: $easeOutQuad; }

    &:hover {
        svg { transform: translateX(-5px); }
    }
}

.button--accent {
    background-color: $accent-dark;
    padding: $base-padding $base-padding*2;
    color: $primary-dark-colour;
    font-weight: 300;
    border-radius: $border-radius--normal;
    transition: background-color .3s ease;

    &:hover {
        background-color: lighten($accent-dark, 15%);
        @include box_shadow(1);
    }
}

.button--disabled {
    pointer-events: none;
    color: #b0bec5;

    &:hover { background-color: transparent; }
}
