.dialog__wrapper {
    position: absolute;
    background-color: transparent;
    transition: background-color .2s;
    animation-delay: .1s;
    height: 0;
    margin: 0;
    padding: 0;

    &.is-active {
        z-index: 2000;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
    }
}

.dialog {
    z-index: 3000;
    background-color: white;
    border-radius: $border-radius--normal;
    animation-delay: .2s;
    width: 100%;
    max-width: 400px;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    @include box_shadow(3);

    &.is-active {
        padding: $base-padding*3;
        padding-bottom: $base-padding;
        animation-name: dialog-from-top;
        animation-duration: .5s;
        animation-fill-mode: both;
        pointer-events: initial;
    }
}

.dialog__header__title {
    font-size: 1.5em;
    font-weight: 300;
}

.dialog__content {
    padding: $base-padding*4 0;
}

.dialog__actions {
    justify-content: flex-end;
}