/*
*   Inputs
*/

/* Text input */
.input { -webkit-appearance: none; }

.input[data-type] {
    margin: calc(var(--base-pm) * 2) 0;
    position: relative;
    border-bottom: 1px solid var(--accent-contrast-darker);
    width: 100%;
    transition: border-color 350ms var(--easeOutBack);
    font-weight: 300;
}

.input--text--error { border-bottom-color: var(--text-error)!important; }

.input--text--warning { border-bottom-color: var(--text-warning)!important; }

/* Checkbox Inputs */
.input--checkbox {
    visibility: hidden;
    display: none;
}

.check {
    background-color: transparent;
    border: 1px solid var(--accent-contrast-darker);
    padding: var(--base-pm);
    margin-right: var(--base-pm);
    display: inline-block;
    position: relative;
    transition: all 500ms var(--easeOutExpo);
    border-radius: 2px;

    &:hover { border-color: var(--primary-dark); }
}

.input--checkbox:checked + .check {
    border-color: var(--primary-dark);
    background-color: var(--primary-dark);
}

.input--checkbox:checked + .check::after {
    color: var(--accent-contrast-darker);
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 0.8px;
    display: table;
    width: 5px;
    height: 12px;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
    transition: all 500ms var(--easeOutExpo);
}

/* File inputs */
.input--file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*
*   Labels
*/
.label--itext {
    width: 100%;
    cursor: text;
    position: absolute;
    left: 0;
    top: calc(var(--base-pm) * 2);
    pointer-events: none;
    transition: transform 300ms var(--easeOutBack), opacity 500ms var(--easeOutExpo);
    font-weight: 300;

    span {
        left: 0;
        pointer-events: none;
    }

    svg {
        width: 20px;
    }
}

.input--validation {
    transition: transform 500ms var(--easeOutExpo), opacity 500ms var(--easeOutExpo);
    font-size: .8em;
    background-color: transparentize(#fff, .1);
    position: absolute;
    right: 0;
    max-width: 200px;
    text-align: center;
    color: var(--text-error);
    padding: calc(var(--base-pm) / 2) calc(var(--base-pm));
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-10px);
    top: 80%;
}

.input--text--error + .label--itext,
.input--text--warning + .label--itext {
    & + .input--validation {
        opacity: 1;
        transform: translateX(0);
    }
}

.input--text--warning + .label--itext {
    & + .input--validation { color: var(--text-warning); }
}

.input[data-type]:focus ~ .label--itext,
.input[data-type]:active ~ .label--itext,
.label--itext.has-content {
    transform: translateY(-80%) translateX(-8%) scale(.85);

    span { opacity: .65; }
}

.label--checkbox:hover .check { border-color: var(--primary-dark); }
