/*
*   Inputs
*/
.input {
    //-webkit-appearance: none;
}

// Text/Password Inputs
.input--text, 
.input--password {
    border: 1px solid lighten($primary-dark, 60%);
    border-radius: $border-radius--normal;
    padding: $base-padding*2 $base-padding*2 2px $base-padding*2;
    margin: $base-padding 0;
}

.input--text--error {
    border-color: #e53935;
}

// Checkbox Inputs
.input--checkbox {
    background-color: transparent;
    border: 2px solid $secondary-dark-colour;
    padding: $base-padding;
    margin: 0 8px;
    border-radius: $border-radius--small;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: $easeOutQuad;

    &:hover {
        border-color: $primary-dark;
    }
}

.input--checkbox:checked {
    border-color: $primary-dark;
    background-color: $primary-dark;
}

.input--checkbox:checked::after {
    color: $primary-light;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    top: .2px;
    display: table;
    width: 6px;
    height: 13px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
    transition: $easeOutQuad;
}

// File inputs
.input--file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*
*   Labels
*/
.label--itext {
    cursor: text;
    position: absolute;
    color: $secondary-light-colour;
    transition: $easeOutQuad;
    will-change: transform, color;
    margin-left: $base-padding;
    border-radius: $border-radius--normal;
    pointer-events: none;
    width: calc(100% - 16px);
    justify-content: flex-start;
    font-weight: 300;

    span {
        transition: $easeOutQuad;
    }

    svg {
        transition: $easeOutQuad;
    }

    &::before {
        content: attr(data-error);
        font-size: .9em;
        background-color: lighten($primary-light, 20%);
        position: absolute;
        left: 105%;
        max-width: 220px;
        width: 100%;
        text-align: center;
        color: #e53935;
        @include box_shadow(2);
        padding: $base-padding/2 $base-padding;
        border: 1px solid #e53935;
        border-radius: $border-radius--normal;
        opacity: 0;
        pointer-events: none;
        transform: translateX(-10px);
        transition: $easeOutQuad;
    }

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #e53935;
        position: absolute;
        left: 102%;
        opacity: 0;
        pointer-events: none;
        transform: translateX(-10px);
        transition: $easeOutQuad;
    }
}

.input--text--error + .label--itext{
    &::before {
        opacity: 1;
        transform: translateX(0);
    }

    &::after {
        opacity: 1;
        transform: translateX(0);
    }
}


.input--text:focus ~ .label--itext,
.input--password:focus ~ .label--itext,
.label--itext.has-content {
    svg {
        transform: scale(.75);
    }

    span {
        color: lighten($secondary-light-colour, 20%);
        transform: translateX(-10.5%) scale(.8) translateY(-58%);
    }
}

.label--checkbox {
    cursor: pointer;
}


.label--file {
    background-color: $accent-dark;
    padding: 8px 16px;
    color: $primary-dark-colour;
    font-weight: 300;
    border-radius: $border-radius--normal;
    transition: $easeOutQuad;
    
    &:hover {
        background-color: lighten($accent-dark, 15%);
        @include box_shadow(1);
    }
}

@media(max-width: 800px) {
/*
 *   Labels
 */
    .label--itext {
        &::before {
            left: 0;
            bottom: 155%;
        }

        &::after {
            display: none;
        }
    }
}