.input {
    outline: none;
    border: none;
    -webkit-appearance: none;
}

.input--text, .input--password {
    border: 1px solid lighten($primary-dark, 60%);
    border-radius: $border-radius--normal;
    padding: 16px 16px 8px 16px;
}

.input--checkbox {
    background-color: transparent;
    border: 2px solid $secondary-dark-colour;
    padding: 8px;
    margin: 0 8px;
    border-radius: $border-radius--small;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: $easeOutQuad;
}

.input--checkbox:checked {
    border-color: $primary-dark;
    background-color: $primary-dark;
}

.input--checkbox:checked::after {
    color: $primary-light;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    top: .2px;
    display: table;
    width: 6px;
    height: 13px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
    transition: $easeOutQuad;
}

.label--itext {
    cursor: text;
    position: absolute;
    color: $secondary-light-colour;
    transition: $easeOutQuad;
    margin-left: 8px;
    border-radius: $border-radius--normal;
}

.input--text:focus ~ .label--itext,
.input--password:focus ~ .label--itext,
.label--itext.has-content {
    transform: translateY(-100%);
    font-size: 70%;
}